@using MiniECommerce.Layout
@inherits LayoutComponentBase

<div class="layout-container">
    <Header /> 

    <div class="main-content">
        <main class="page-content">
            @Body
        </main>
    </div>

    <Footer />
</div>
